.bw_main{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    padding: 5px;
    height: 50px;
    z-index: 1000;
    border-radius: 50%;
    cursor: pointer;
    backdrop-filter: blur(5px);
    background: linear-gradient(to bottom, #f06021 );

}
.bw_main.true{
    width: 400px;
    background: linear-gradient(to bottom, #facca1, #f1f5fd, #F7F7F7);
    backdrop-filter: blur(100px);
       box-shadow: 
    4px 4px 8px rgba(0, 0, 0, 0.15),
    8px 8px 16px rgba(0, 0, 0, 0),
    12px 12px 24px rgba(0, 0, 0, 0);

animation: expandWidthThenHeight 0.3s ease-in-out forwards;
}

.bw_main.false{
    background: linear-gradient(to bottom, #f06021 );

    animation: shrinkWidthThenHeight 0.1s ease-in-out forwards;
   }   

@keyframes expandWidthThenHeight {
    0% {
        width: 50px;
        height: 50px;
    }
    100% {
        width: 350px;
        height: 600px;
        border-radius: 15px;
    }
  }
  @keyframes shrinkWidthThenHeight {
    0% {
        width: 350px;
        height: 600px;
        border-radius: 5px;

    }
    100% {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
  }
  .bw_big_container{
    width: 100%;
    height: 100%;
  }

.bw_big{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    justify-content:space-between;
    width: 100%;
    height: 100%;
}
.bw_big_close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: black;
    z-index: 1;
}
.bw_big_expand{
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 20px;
    color: black;
    z-index: 1; 
    transform: rotate(90deg);
}
.bw_big_translator{
    width: 100%;
    height: 60px;
    background-color:#bd6009;
    margin-top: 2rem;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
    transition: height 0.3s ease;
    color: rgb(235, 235, 235);
    font-size: 20px;
}
.bw_big_translator.true{
    height: 200px;
}
.bw_big_translator>div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}
.bw_big_translator>div>button{
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0);
    border-radius: 25px;
    background-color: rgb(223, 217, 217);
    width: 80%;
}
.bw_big_translator>span{
    min-height: 60px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bw_big_translator>span>span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.bw_big_chatbot{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;

}
.bw_big_chatbot.true{
    height: calc(60%);
}
.bw_big_chatbot1{
    width: 100%;
    height: 60px;
    background-color: #f25f23;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bw_big_chatbot12{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.bw_big_chatbot11{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    color: #ffffff;
}
.bw_big_chatbot12>h2{
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
}
.bw_big_chatbot12_2{
    display: flex;
    justify-content: start;
    align-items: center;
}
.bw_big_chatbot12_2>span{
    color: rgb(154, 230, 154);
    font-size: 10px;
    display: flex;
    justify-content: start;
    align-items: center;

}
.bw_big_chatbot12_2>p{
    color: #ffffff;
    font-size: 12px;
    margin-left: 3px;
}
.chatbotcontainer{
    height: calc(100% - 60px);
    width: 100%;
}




/* ///updated on 4/11/2025 */
.bw_small{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.bw_small>span{
    font-size: 30px;
    color: white;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatoptions{
   position: relative;
}
.chatoptiondetails{
    padding: 15px 5px;
    background-color: white;
    position: absolute;
    top: 30px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0.48px 2.41px -0.38px, rgba(0, 0, 0, 0.17) 0px 4px 20px -0.75px;
}
.chatoptiondetails1{
    height: 50px;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 0 10px;
    gap: 5px;
}
.chatoptiondetails1:hover{
    background-color: rgb(77, 77, 77);
    color: white;
    
}
.chatoptiondetails1 .toggle{
    background-color: #949494;
    position: relative;
    width: 50px;
    height: 26px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
}
.chatoptiondetails1>div{
    display: flex;
    justify-content: center;
    align-items: center;

}
.chatoptiondetails1 .toggle::after{
    width: 18px;
    height: 18px;
    content: "";
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translate(0,-50%);
    transition: transform 0.2s ease-out;
}
.toggle.true::after{
    transform: translate(24px,-50%);



}
.toggle.true{
    background-color: rgb(72, 173, 72);
}

.cba_container{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg,#fffdf3,rgb(232, 239, 255),white);
    border-radius: 10px;
}
.botw_quotes{
    background-color: #ffffffde;
    position: absolute;
    top: -70px;
    right: -5px;
    width: 200px;
    padding: 10px 20px;
    border-radius: 35px;
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.041);
    border:1px solid  #f25e2338;
    color: #383838;
    font-size: 15px;

}

  @keyframes transin {
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);

    }
  }
.botw_quotes.show{
    animation: transin 0.3s forwards  ease-out;

}

.botw_quotes.unshow{
    animation: transout 0.2s forwards  ease-out;

}

@keyframes transout {
    0%{
        opacity: 1;
        transform: translateY(0);
      
    }
    100%{
        opacity: 0;
        transform: translateY(40px);
        display: none;

    }
  }


  @media only screen and (max-width: 500px) {

    .bw_main.true{
        width: 100vw;
        z-index: 1000;
        border-radius: 15px;
    animation: expandWidthThenHeight 0.3s ease-in-out forwards;
    }
    .bw_main.false{
        background: linear-gradient(to bottom, #f06021 );
        animation: shrinkWidthThenHeight 0.1s ease-in-out forwards;
       }   
    @keyframes expandWidthThenHeight {
        0% {
            width: 50px;
            height: 50px;
        }
   
        100% {
            width: 90vw;
            height: 80vh;
            border-radius: 5px;
            right: 10px;
            bottom: 10px;

        }
      }
      @keyframes shrinkWidthThenHeight {
        0% {
            width: 90vw;
            height: 80vh;
            border-radius: 5px;
            right: 10px;
            bottom: 10px;

    
        }
        100% {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
      }
      
      .bw_main.true.expanded{
        width: 100vw;
        z-index: 1000;
        border-radius: 15px;
    animation: expandWidthThenHeight 0.3s ease-in-out forwards;
    

      }
 
    .bw_main.true.depand{
        animation: depandWidthThnHeight 0.3s ease-in-out forwards;
       }   
    @keyframes expandWidthThenHeight {
        0% {
            width: 90vw;
            height: 80vh;
            border-radius: 5px;
            right: 10px;
            bottom: 10px;

        }
   
        100% {
            width: 100vw;
            height: 100vh;
            border-radius: 0;
            right: 0px;
            bottom: 0px;

        }
      }
      @keyframes depandWidthThnHeight {
        0% {
            width: 100vw;
            height: 100vh;
            border-radius: 0;
            right: 0px;
            bottom: 0px;

    
        }
        100% {
            width: 90vw;
            height: 80vh;
            border-radius: 5px;
            right: 10px;
            bottom: 10px;
        }
      }
  } 