.button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  padding: 12PX 25PX;
  background-image: linear-gradient(to top, chocolate 0%, chocolate 80%, chocolate 100%);
  border-radius: 30px;
  border: 1px solid #ffc698;
  transition: all 0.2s ease;
  font-size: 14px;
  font-weight: 400;
  color: WHITE;
}

.button:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
  background-image: linear-gradient(to top, #dbd9d8 0%, #fff 80%, #FDFDFD 100%);
  color: chocolate;

}

.button:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  background-image: linear-gradient(to top, #dbd9d8 0%, #fff 80%, #FDFDFD 100%);
  color: chocolate;
}

.button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  background-image: linear-gradient(to top, #dbd9d8 0%, #fff 80%, #FDFDFD 100%);
  color: chocolate;
}

