.headings_main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headings_main>h3{
    font-size: calc(1.8rem + 0.5vw);
    text-transform: uppercase;

}
.headings_main>p{
    font-size: calc(0.4rem + 0.5vw);
    width: 50%;
    text-align: center;

}
.headings_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;

}
.headings_div>div{
    width: 200px;
    height: 2px;
    background-color: chocolate;
}
.headings_div>img{
    width: 30px;
    height: auto;
    
}
@media (max-width: 480px) {
    .headings_div>div{
        width: 70px;
        height: 2px;
        background-color: chocolate;
    }
  
    .headings_main>p{
        font-size: calc(12px + 0.4vw);
        width: 90%;
        font-weight: 400;
        line-height: 18px;
    }
}