.hst_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 80px;
	
  }
  .sticky-heading>h5{
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	
  }
  .sticky-heading>h4{
	font-size: 3rem;
	font-weight: 500;
	text-transform: capitalize;
	
  }
  .hst_wrapper .sticky-heading {
	position: sticky;
	top: 0;
	width: 100%;
	font-size: 24px;
	font-weight: bold;
	padding: 15px 0;
	z-index: 0;
  }
  
  .hst_wrapper {
	width: 90vw;
	margin-top: 20px;
  }
  
  .hst_wrapper .card {
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 24px;
	font-weight: bold;
	color: white;
	border-radius: 10px;
	position: sticky;
	margin-bottom: 10px;
	transition: transform 0.3s ease;
	padding: 30px;
  }
  
  /* Individual card colors */
  .hst_wrapper .card1 {
	background: #e9e0cf;
	z-index: 1;
	margin-top: 50px;
	top: 150px;
  }
  
  .hst_wrapper .card2 {
	background: #d9cdb7;
	z-index: 2;
	top: 250px;
  }
  
  /* This is where we control the gap between the second and third card */
  .hst_wrapper .card3 {
	background: #c3b497;
	z-index: 3;

  }
  .hst_card_div2{
	display: flex;
	flex-direction: column;
	width: 40%;
	gap: 1.5rem;
  }
  .hst_card_div1>p{
	color: chocolate;
	font-size: 1.5rem;
	font-weight: 400;
  }
  .hst_card_div2>span{
	font-size: 2rem;
	font-weight: 500;
	color: rgb(77, 42, 11);
  }
  .hst_card_div2>div{
	font-size: 18px;
	font-weight: 500;
	color: rgb(77, 42, 11);
	
  }