@media screen and (max-width: 500px) {
    .hmt_main{
        width: 100%;
        padding: 3rem 5px;
        height: 70vh;
        background: linear-gradient(#365eb3ea,#192e5cf5), 
        url('../assets/images/Gradientnoise.jpg');    }
    .hmt_main{
        
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    }


}