.hst_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 80px;
	
  }
  .sticky-heading{
	display:flex ;
	justify-content: space-between;
	align-items: center;
  }

  .sticky-heading h5{
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	
  }
  .sticky-heading h4{
	font-size: 3rem;
	font-weight: 500;
	text-transform: capitalize;
	
  }
  .hst_wrapper .sticky-heading {
	position: sticky;
	top: 0;
	width: 100%;
	font-size: 24px;
	font-weight: bold;
	padding: 15px 0;
	z-index: 0;
  }
  
  .hst_wrapper {
	width: 90vw;
	margin-top: 20px;
  }
  
  .hst_wrapper .card {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 24px;
	font-weight: bold;
	color: white;
	border-radius: 10px;
	position: sticky;
	margin-bottom: 10px;
	transition: transform 0.3s ease;
	padding: 30px;
  }
  
  /* Individual card colors */
  .hst_wrapper .card1 {
	background: #F5E1C4;
	z-index: 1;
	margin-top: 50px;
	top: 150px;
  }
  
  .hst_wrapper .card2 {
	background: #E3CDA8;
	z-index: 2;
	top: 230px;
  }
  
  /* This is where we control the gap between the second and third card */
  .hst_wrapper .card3 {
	background: #d4bb9b;
	z-index: 3;
	top: 310px;


  }
  .hst_wrapper .card4 {
	background: #D2B48C;
	z-index: 3;
	top: 390px;

  }
  .hst_wrapper .card5 {
	background: #F5FFFA;
	z-index: 3;
	top: 470px;

  }
  .hst_wrapper .card6 {
	background: #665a42;
	z-index: 3;
	top: 550px;

  }
  .hst_card_div2{
	display: flex;
	flex-direction: column;
	width: 40%;
	gap: 1.5rem;
  }
  .hst_card_div1>p{
	color: chocolate;
	font-size: 2.5rem;
	font-weight: 600;
  }
  .hst_card_div2>span{
	font-size: calc(1rem + 0.5vw);
	font-weight: 500;
	color: rgb(77, 42, 11);
	text-transform: uppercase;
  }
  .hst_card_div2>div{
	font-size: calc(0.4rem + 0.5vw);
	font-weight: 400;
	color: rgb(77, 42, 11);
	width: 100%;
	
  }
  .sticky-heading button{
	padding: 12px 35px;
	background-color: #664242;
	border: none;
	color: white;
	font-weight: 300;
	border-radius: 25px;
  }
  .hst_card_div3{
	height: 100%;
  }
  .hst_card_div3>img{
	height: 100%;
	border-radius: 5px;
  }

  
@media screen and (max-width: 500px) {

  .sticky-heading h5{
	font-size: 15px;
	
  }
  .sticky-heading h4{
	font-size: calc(1.5rem + 0.5vw);
	
  }
  .sticky-heading{
	flex-direction: column;
	gap: 1rem;
  }
  .hst_wrapper .card {
	width: fit-content;
	margin: 5px;
	color: white;
	padding: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
  }
  .hst_wrapper{
	width: 100%;
  }
  .hst_card_div1>p{
	color: chocolate;
	font-size: 1rem;
	font-weight: 600;
  }
  .hst_card_div2{
   width: 80%;
   gap: 5px;
  }
  .hst_container{
	padding: 5px;
  }
  .hst_card_div2>div{
	font-size: calc(0.8rem + 0.5vw);
  }
  .hst_card_div2>span{
	font-size: calc(1rem + 0.5vw);
  }
  .hst_wrapper .card1 {
	background: #F5E1C4;
	z-index: 1;
	margin-top: 50px;
	top: 70px;
  }
  
  .hst_wrapper .card2 {
	background: #E3CDA8;
	z-index: 2;
	top: 110px;
  }
  
  /* This is where we control the gap between the second and third card */
  .hst_wrapper .card3 {
	background: #D2B48C;
	z-index: 3;
	top: 150px;


  }
  .hst_wrapper .card4 {
	background: #b99672;
	z-index: 3;
	top: 180px;

  }
  

}