@media screen and (max-width: 500px) {
    .hmt_main{
        width: 100%;
        height: 70vh;
        /* background: linear-gradient(#151515,#312436,#633837,#76391a), 
        url('../assets/images/Gradientnoise.jpg'); */
        background-color: #f7f4ef;
      
      }


.hmt_main{
        
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    }


}

@media screen and (max-width: 769px) {
  .hmt_main{
    width: 100%;
    height: 90vh;
 /* background: linear-gradient(#151515,#312436,#633837,#76391a), 
        url('../assets/images/Gradientnoise.jpg'); */
        background-color: #f7f4ef;
  
  }


.hmt_main{
    
.swiper {
width: 100%;
height: 100%;
}

.swiper-slide {
text-align: center;
font-size: 18px;

/* Center slide text vertically */
display: flex;
justify-content: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}
}



}