.ha_container {
    display: flex;
    width: 100%;
  }
  
  .ha_left-section {
    width: 40%;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background 0.5s ease-in-out;
  }
  
  .ha_left-image {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;

  }
  
  .ha_right-section {
    width: 60%;
    background-size: cover;
    position: relative;
  }
  .frame_images{
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: -1;
    background-color: #f5916f;
    background-image: linear-gradient(180deg,#f6a17a,#f3815d);
  
  }
  .frame_images>div>img{
 
    width: auto;
    height: 100vh;
    object-fit: cover;
    
  }
  .frame_images>div{
    position: sticky;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-position: 100%;
    background-color: #f5ead8;
    background-image: linear-gradient(180deg,#f5ead8,#f8ecdc,#f3e4c8);
    opacity: 1;
    display: flex;
    justify-content: end;
    align-items: end;
    overflow: hidden;
  }
  .section {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    color: #5C4033;
    align-items: start;
    background-color: #f4bd572a;

  }
  
  .ha_right-section h2 {
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 400;
    background: linear-gradient(45deg, #dd551b,#5C4033);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
  .ha_right-section h3{
    font-size: calc(1.8rem + 0.5vw);
    margin: 0.5rem 0;
    font-weight: 500;
    color:  #dd551b;
  }

  .ha_right-section p{
    font-size: calc(0.4rem + 0.5vw);
    width: calc(70%);
    font-weight: 400;
    color:  #2e2d2de5;
    line-height: calc(0.8rem + 1vw);

  }
  .ha_right-section span{
    color: rgb(236, 135, 52);
  }
  .ha_right-section button{
    margin-top: 2rem;
    margin-left: 0.2rem;

  }
  @media screen and (max-width: 500px) {

  .ha_left-section{
     display: none;
  }
  .ha_right-section{
    width: 100%;
  }
  .section{
    height: fit-content;
    padding: 10px;
    margin-top: 2rem;
    background-color: transparent;
  }
  
  .ha_right-section p{
    font-size: calc(0.8rem + 0.5vw);
    width: calc(100%);
    line-height: calc(1rem + 1vw);

  }
  .ha_right-section h2 {
    font-size: 14px;
  }
}