.sticky-parent {
  height: 300vh;
  background: linear-gradient(#151515,#312436,#633837,#de652a), 
  url('../assets/images/Gradientnoise.jpg');
  background-position: center;
}
.hs_sticky_title{
  padding: 30px;
}
.sticky-parent .sticky-heading{
  padding: 30px;
  color:#c8bca6;

} 
.hs_main1{
  background-color: #151515;
  color: #ece9e2;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  
}

  .sticky{
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .dim {
    display: block;
    min-width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  
  }
  
  .horizontal {
    display: flex;
  }

  .br {
    outline: solid;
    scroll-behavior: smooth;
  }
  
  @media (max-width: 620px) {
    .dim {
      min-width: 100%;
    }
  }
  
.hs_mainend{
  background-color:#de652a ;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: start;

}
.hs_mainend>button{
  border: 1px solid rgb(245, 245, 245);
  background-color: rgb(244, 236, 231);
  padding: 12px 35px;
  color: #dd6529;
  border-radius: 35px;


}
@media screen and (max-width: 900px) {
  .dim {
    min-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .dim{
  }
}