@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
.ticket-card {
    width: 300px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .ticket-image {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
  }
  
  .ticket-card::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    width: 40px;
    height: 40px;
    background: #f0efed;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
/* Ticket Label */
.ticket-card::before {
    content: '';
    width: 24px;
    height: 150px;
    position: absolute;
    left: -14px;
    top: 0px;
    background-size: 10px 10px;
    background-repeat: repeat-y;
    background-position: 0 0, 0 0, 100% 0, 100% 0;
    background-image: linear-gradient(135deg, transparent 75%, #f0efed 75%),
                      linear-gradient(45deg, transparent 75%, #f0efed 75%);
    line-height: 1.9;
    transform: rotate(180deg);
    font-size: 90px;
    text-align: left;
}

.mnae_main{
    font-family: "Old Standard TT", serif;
    font-style: normal;
    background-color: #fffefd;
    padding-bottom: 5rem;
}
.mnae_main header{
    height: 70vh;
    background-size: cover;
    background-image: url('https://assets-eu-01.kc-usercontent.com/8ff24b0e-57a3-0157-62d1-fa4ac9734eb5/c4569d4a-aa6b-4fd0-abcc-4a086da12b9a/hd-3d-printing-hospitals-sig.jpg?w=3840&q=90&lossless=true&auto=format');
    background-repeat: no-repeat;
}
.mnae_main header>div{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.486);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mnae_main h2{
    color: white;
    font-weight: 700;
    letter-spacing: 1px;

}
.mnae_slider{
    width: 750px;
    height: 200px;
    background-color: white;
    margin-top: 1rem;
    position: relative;
    padding: 20px;
    padding-left: 50px;

}
  
.mnae_slider::after {
    content: "";
    position: absolute;
    right: -30px;
    top: 50%;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    transform: translateY(-50%);
}
.mnae_slider::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 50%;
    transform: translateY(-50%);
}
.mnae_slider>.ticket-card{
  position: absolute;
  right: 10px;
  height: 90%;
  top: 5%;
  
}
.mnae_slider>.ticket-card::before{
    height: 700px;
    z-index: 2;
    background-image: linear-gradient(135deg, transparent 75%, #ffffff 75%),
    linear-gradient(45deg, transparent 75%, #ffffff 75%);
}
.mnae_slider>.ticket-card::after{
    background-color: white;
}
.mnae_slider .ticket-image.fade-in {
    animation: fadeIn 0.3s ease-in forwards;
}
.mnae_slider .ticket-image.fade-out {
    animation: fadeOut 0.3s ease-out forwards;
}
@keyframes fadeIn {
    0% { opacity: 1;width: 10px; }
    100% { opacity: 1;width: 100%;   }
}

/* Fade Out Animation */
@keyframes fadeOut {
    0% {  transform: translateX(0); }
    100% {  transform: translateX(100%);  }
}
.mnae_slider1 h3{
    font-size: 2rem;
    color: rgb(136, 88, 53);
    letter-spacing: 0.8px;
    font-weight: 700;
}
.mnae_slider1>div{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}
.mnae_slider1>div>span{
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(136, 88, 53);
    font-weight: 100;

}
.mnae_slider1 button{
    margin-top: 2rem;
    background-color: chocolate;
    border: none;
    padding: 9px 20px;
    color: white;
}
.leftarrow{
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;

}
.rightarrow{
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    z-index: 2;
    cursor: pointer;
}
.allevents{
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
}

.allevents_card{
    display: flex;
    flex-direction: row;
    background-color: #f0efed;
    padding: 20px;
    border-bottom: 1px solid rgb(218, 217, 217);
    align-items: center;
    margin-top: 3rem;
    cursor: pointer;
}

.allevents_card11{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px 15px 0 15px;
    background-color: #f3dad3;
}
.allevents_card12{
    background-color: #be5f1f;
    text-align: center;
    color: white;
    padding: 7px 15px 7px 15px;

}
.allevents_card2{
  margin-left: 5rem;
  width: 400px;
}
.allevents_card3{
    margin-left: 10rem;
  }
.allevents_card2 h3{
    font-size: 1.5rem;
    color: rgb(136, 88, 53);
    letter-spacing: 0.8px;
    font-weight: 700;
}
.allevents_card2>div{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}
.allevents_card2>div>span{
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(136, 88, 53);
    font-weight: 100;

}
.allevents_card2 button{
    margin-top: 2rem;
    background-color: chocolate;
    border: none;
    padding: 9px 20px;
    color: white;
}
.allnewsevent_headings{
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0;
    color: rgb(107, 71, 23);
    font-weight: 700;
}


/* 📟 Tablets (768px - 1023px) */
@media (min-width: 600px) and (max-width: 1023px) {
  
.allevents_card11{
    padding: 10px 10px 0 10px;
}
.allevents_card12{
    padding: 5px 10px 5px 10px;

}
.allevents_card2{
  margin-left: 2rem;
  width: 200px;
}
.allevents_card3{
    margin-left: 3rem;
  }
.allevents_card2 h3{
    font-size: 1.3rem;
}

.mnae_slider{
    width: calc(80VW);
    height: 200px;

}

.mnae_slider1 h3{
    font-size: 1.5rem;
    width: calc(200px + 10vw);
}

}

/* 📱 Mobile Devices (up to 767px) */
@media (max-width: 767px) {
   

    .allevents_card{
        display: flex;
        flex-direction: row;
        padding: 5px;
        width: 90vw;
        justify-content: space-between;
        margin-top: 1rem;
    }
    .allevents_card1{
        display: none;
    }
    .allevents_card11{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 8px 8px 0 8px;
        background-color: #f3dad3;
    }
    .allevents_card12{
        background-color: #be5f1f;
        text-align: center;
        color: white;
        padding: 4px 8px 4px 8px;
    
    }
    .allevents_card2{
      margin-left: 10px;
      width: fit-content;
    }
    .allevents_card3{
        margin-left: 5px;
      }
    .allevents_card2 h3{
        font-size: 1rem;
    }
    .allevents_card2>div{
        font-size: 13px;
    }
 
    .allevents_card2 button{
        margin-top: 1rem;
        background-color: chocolate;
        border: none;
        padding: 5px 10px;
        color: white;
    }
    .allnewsevent_headings{
        font-size: 1.3rem;
        text-align: center;
        padding: 2rem 0;
        color: rgb(107, 71, 23);
        font-weight: 700;
    }
    
.mnae_slider{
    width: calc(60vw);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 20px;

}
.mnae_slider1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mnae_slider1 h3{
    font-size: 1.5rem;
    width: calc(200px + 10vw);
}
.mnae_slider>.ticket-card{
    position: relative;
    left: 0;
    height: 100px;
    width: 150px;

    
  }
  .allevents_card3>.ticket-card{
    width: 100px;
    height: 70px;
  }

}
