.nav_main{
  top: 0;
  margin: 0;
  width: 100%;
    height: 0;
    position: fixed;
    z-index: 20;
    left: 0;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    color: white;
    transition: height 0.3s ease-out;


}
.ns_con1{
  height: 70px;
}

.ns_con2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 1px;
    gap: 2rem;
    padding: 0 2rem;
    height: 70px;

}
.ns_con2 span{
  cursor: pointer;
}
.nav_main.true{
    color: #ef6126;
    height: 70px;
   
    background-color: #fdfdfb;
  
}


.emergency_main{
  width: 150px;
  height: 40px;
  background-color: #f06125;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition : all 0.3s ease-in;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1PX;
}
.emergency_expand{
  display: none;
  transition: all 1s ease-out;
}
.nav_main .emergency_expand.true{
  
  position: absolute;
  right: 20px;
  bottom: calc(-100% - 220px);
  width: 200px;
  gap: 10px;
  display: block;
  background-color: rgba(126, 126, 126, 0.438);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.185);
  border: 1px solid rgba(210, 105, 30, 0);
  animation: emergencryEnter 0.3s linear forwards;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  
}
.nav_main.true .emergency_expand.true{
 
  bottom: calc(-100% - 80px);
  
}

.mbile_menu_button{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1005;
  color: white;
  font-size: 35px;
}
.mbile_menu_button.true{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1005;
  color: chocolate;
  font-size: 35px;
}
@keyframes emergencryEnter {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
   opacity: 1;
   transform: translateY(0);

  }
}
.emergency_expand>div{
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #b34c20;
  border: 1px solid rgb(119, 87, 60);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  gap: 3px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  padding-left: 5px;
}

.ns_con3{
    margin-right: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 70px;

}
.ns_con1>img{
    width: auto;
    height: 40px;
}
.ns_con1{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.ns_con3 span{
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  font-size: 1rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
@media screen and (max-width: 500px) {
    .mobilemenudiv{
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 10px;
        top: 20px;
        z-index: 1005;
    }
    .burger {
        display: inline-block;
        cursor: pointer;
        z-index: 1000;
      }
      
      .burger span {
        display: block;
        width: 30px;
        height: 3px;
        background: #ffffff;
        margin: 6px 0;
        transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55),
          opacity 0.3s ease;
      }
      .burger.true span {
        background: chocolate;

      }
      
      #burger-checkbox {
        display: none;
      }
      
      #burger-checkbox:checked + .burger span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      
      #burger-checkbox:checked + .burger span:nth-child(2) {
        opacity: 0;
        transform: translateX(-20px);
      }
      
      #burger-checkbox:checked + .burger span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
      
}