.nav_main{
    width: 98%;
    margin-left: 1%;
    height: 70px;
    position: fixed;
    z-index: 20;
    top: 10px;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;

}
.ns_con1{}

.ns_con2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 400;
    gap: 2rem;
    padding: 0 2rem;
}
.ns_con2 span{
  cursor: pointer;
}
.nav_main.true{
    background-color: rgba(255, 255, 246, 0.916);
    color: chocolate;
    backdrop-filter: blur(5px);
    top: 0;
    margin: 0;
    width: 100%;
}

.ns_con3>span{
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: chocolate;
    padding: 12px 25px;
}
.ns_con3{
    margin-right: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);

}
.ns_con1>img{
    width: auto;
    height: 40px;
}
.ns_con1{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media screen and (max-width: 500px) {
    .mobilemenudiv{
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .burger {
        display: inline-block;
        cursor: pointer;
        z-index: 1000;
      }
      
      .burger span {
        display: block;
        width: 30px;
        height: 3px;
        background: #ffffff;
        margin: 6px 0;
        transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55),
          opacity 0.3s ease;
      }
      .burger.true span {
        background: chocolate;

      }
      
      #burger-checkbox {
        display: none;
      }
      
      #burger-checkbox:checked + .burger span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      
      #burger-checkbox:checked + .burger span:nth-child(2) {
        opacity: 0;
        transform: translateX(-20px);
      }
      
      #burger-checkbox:checked + .burger span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
      
}