.transition-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    pointer-events: none;
  }
  
  .transition-bar {
    width: 100%;
    height: 10%;
    background: black;
  }
  