.Ia-fullscreen {
  height: 100vh;
  width: 100%;
  min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: rgb(0, 0, 0);
    opacity: 1;
  }
  .Ia-fullscreen.true{
    display: none;
  }
  @keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

  
  .Ia-shape,.Ia-shape-1{
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: absolute;
    background-image: url('../assets/images/snap.webp');
  }

  .ia-container-main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .Ia-video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Send the video to the background */
  }
  
  .Ia-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures video covers the whole area */
  }
  
  .overlay-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 3; /* Ensures text is above the video */
  }
  .video-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: linear-gradient(0deg, #ffffff, rgba(0, 0, 0, 0.568)); */
    z-index: 3; /* Ensures text is above the video */
    background-color: rgba(0, 0, 0, 0.5);
  }
  .overlay-content>button{
    padding: 12px 35px;
    border-radius: 35px;
    border: none;
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 500;
    color: rgb(20, 19, 19);
  }
  .oc_1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .oc_2{
    text-align: center;
    font-size: 17px;
    font-weight: 350;
    line-height: 22px;
    margin-top: 0.5rem;
    letter-spacing: 0.5px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    

  }
  #Ia_first.true{
    display: none;
  }

  @media screen and (max-width: 500px) {
    .oc_2{
      font-size: 13px;

    }
    .Ia-shape-1.true{
      display: none;
    }
  }

  .testcon{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.testcon>div{
   
    transition: all 0.5s ease-out;
    border-radius: 20px;
    outline: 400px solid #fcfbf7; /* Inner border */
    outline-offset: 10px; /* Moves the outline inward */
}
.ia-container-end{
  height: calc(200px);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  opacity: 0;
 transform: translateY(20px);

}

.ia-container-end1{
  margin-left: 5rem;
  margin-top: 2rem;
}
.ia-container-end1>h2{
  font-size: 2rem;
  width: 80%;
  color: #fa9145;

}
.ia-container-end1>p{
  color:#a16c3ac5;
  font-size: 1.2rem;

}
.ia-container-end2{
  margin-right: 2rem;
  margin-top: 2rem;
}
.ia-container-end2>p{
  color:#a16c3ac5;
  font-size: 1rem;
  width: 80%;

}
.ia-container-end2>button{
  border: none;
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 30px;
  background-color: #fa9145;
  color: white;
  font-size: 1rem;
}
.ia-container-end.true{
 opacity: 1;
 transition: all 0.3s ease-out;
 transform: translateY(0);
}
.ia-container-end.false{
  opacity: 0;
  transition: all 0.3s ease-out;
  transform: translateY(20px);
}
