.ta_main {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.ta_s1, .ta_s2, .ta_s3 {
  font-size: 70px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  transition: background 0.3s ease-in-out;
 
}
.ta_s1.true{
  background-image: url('../assets/images/textbackk.webp');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-clip: text; 
   background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.ta_s2.true{
  background-image: url("https://images.pexels.com/photos/235994/pexels-photo-235994.jpeg?cs=srgb&dl=pexels-pixabay-235994.jpg&fm=jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-clip: text; 
   background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.ta_s3.true{
  background-image: url('https://images.pexels.com/photos/235994/pexels-photo-235994.jpeg?cs=srgb&dl=pexels-pixabay-235994.jpg&fm=jpg');

  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-clip: text; 
   background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ta_main .box {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: start;
  align-items: end;
  height: 90%;
}
svg text {
	text-transform: uppercase;
	animation: stroke 2s forwards;
	stroke-width: 1;
	stroke: #ffffff;
	font-size: 140px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,20,0); stroke: rgb(255, 255, 255);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,20,0); stroke: rgb(255, 255, 255); }
	80%  {fill: rgba(72,138,20,0); stroke: rgb(255, 255, 255); stroke-width: 3; }
	100% {
		fill: rgb(255, 255, 255); stroke: rgba(54,95,160,0); 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}




@media screen and (max-width: 500px) {
  .ta_main .box {
    font-size: 19px;
    height: 80%;

  }
  .ta_s1, .ta_s2, .ta_s3 {
    font-size:50px;
  }
  
}